<div class="header-container">
    <div class="logo">
        <a href="blogs.html">
            <img src="./images/logo.png" alt="Agile Academy Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Opleidingen</a></li>
            <li><a href="#">Diensten</a></li>
            <li class="active"><a href="#">Blog</a></li>
            <li><a href="#">Over ons</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="header-cta">
        <a href="#" class="btn btn-primary">Gratis consult</a>
    </div>
    <div class="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>